/*#region ---------- ----------* MY CONFIG *---------- ---------- ----- */
html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100dvh;
    margin: auto;
}
nav,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
main,
article,
section,
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*#endregion ---------------------* MY CONFIG *--------------------------- */
/* -------------------------------------------------------------------------- */
/*#region ---------------------* MAIN *--------------------------- */
html {
    /* bg colors */
    --htmlBg: hsl(0, 0%, 98%);
    --wrapBg: hsla(0, 0%, 100%, 0.9);
    --wrapInputBg: hsla(0, 0%, 95%, 0.2);
    /* theme colors */
    --hgbColor: hsla(350, 100%, 50%, 100%);
    --kgColor: rgb(65, 34, 0);
    --ertrptnColor: hsla(290, 100%, 50%, 100%);
    --drbptnColor: hsla(260, 100%, 50%, 100%);
    --ferritinColor: hsl(190, 100%, 40%);
    /* other variable */
    --opacityRange: 0.7;
    /* properties */
    background-color: var(--htmlBg);
}
main {
    & hr {
        width: 80%;
        height: 1dvh;
        background-color: #333;
        display: none;
    }
    padding: 1rem 0rem 4rem 0rem;
}
article {
    width: 100%;
    & section {
        width: min(100%, 1000px);
        padding: 1.5rem 0;
        margin: 2dvh;
    }
    &.article1 {
            

        & section {
            position: relative;
            margin: 0.5rem;
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 600px;
            border: 1px solid;
        }
        & input[type=range] {
            flex-grow: 1;
            max-width: 360px;
            margin: 0 0.5rem;
            opacity: 0.7;
        }
        & input[type=number] {
            padding: 0.25rem 0;
            margin: 0 0.5rem;
            opacity: 0.95;

        }
        & header {
            width: 8rem;
            text-transform: capitalize;
            color: white;
            padding: 0.5rem;
            filter: brightness(1.5);
            opacity: 0.7;


        }
        & span {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 5rem;
            text-align: end;
            font-size: 0.8rem;
            opacity: 0.5;

            
        }
        .hgb {
            
        }
        .kg {
            
        }
        .ertrptn {
            
        }
        .drbptn {
            
        }

    }
    &.article2 {
        & section {
            flex-flow: row wrap;

            & input {
                display: inline-block;
                margin: 0 1rem;
                padding:0rem 2rem;
                text-align: center;
                height: 3.5rem;
            }
        }
    }
    &.article3 {
        & section {
            
        }
        & p {
            text-align: left;
            padding: 1.5rem max(4px, 1vw);
            display: flex;
            align-items: center;
            column-gap: 0.3rem;
            flex-flow: wrap;


        }
        & span {
            min-width: 2rem;
        }
    }
}
.hgb {
    color: var(--hgbColor);
    accent-color: var(--hgbColor);
    & header {
        background-color: var(--hgbColor) ;
    }
}
.kg {
    color: var(--kgColor);
    accent-color: var(--kgColor);
    & header {
        background-color: var(--kgColor) ;
    }
}
.ertrptn {
    color: var(--ertrptnColor);
    accent-color: var(--ertrptnColor);
    & header {
        background-color: var(--ertrptnColor) ;
    }
    .article3  section& {
        border: 2px solid var(--ertrptnColor);
    }
}
.drbptn {
    color: var(--drbptnColor);
    accent-color: var(--drbptnColor);
    & header {
        background-color: var(--drbptnColor) ;
    }
    .article3  section& {
        border: 2px solid var(--drbptnColor);
    }
}
.ferritin {
    color: var(--ferritinColor);
    accent-color: var(--ferritinColor);

    & header {
        background-color: var(--ferritinColor) ;
    }
}

/*#endregion ---------------------* MAIN *--------------------------- */
/* -------------------------------------------------------------------------- */
/*#region ---------------------* MEDIA *--------------------------- */
@media screen and (width > 720px) {}
@media screen and (width > 1000px) {}
@media screen and (width > 1200px) {
    html {
        font-size: 17px;
    }
}
@media screen and (width > 1600px) {}
/*#endregion ---------------------* MEDIA *--------------------------- */
/* -------------------------------------------------------------------------- */
/*#region ---------------------* UTILS *--------------------------- */
.hidden {
    display: none;
}
.row {
    flex-direction: row;
}
/*#endregion ---------------------* UTILS *--------------------------- */
/* *For Development */
body * {
    border: 1px dotted red;
}